/*
  Developer Name: Sheldon Skaggs
  Date: 11/26/2023
  File Name: styles.css
  Description: Style sheet to contain the style rules for the biosite website
*/

/* CSS Reset */
body, header, nav, main, footer, div, h1, ul, li, section, article, img {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for the body and images */
body {
  background-color: #1E563E;
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

/* Style rule for box sizing applies to all elements */
* {
  box-sizing: border-box;
}

/* Styles for mobile viewport */

/* Style rules for header */
header {
  background-color: #1E563E;
  padding-bottom: 2%;
}

header h1 {
  text-align: center;
}

/* Style rules for navigation area */
nav {
  padding: 1%;
  margin-bottom: 1%;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  font-size: 1.5em;
  font-family: 'Dosis', sans-serif;
  border-top: 1px solid #fff;
}

nav li:first-child {
  border-top: none;
}

nav li a {
  display: block;
  color: #d4b286;
  padding: 0.5em 1em;
  text-decoration: none;
}

/* Show mobile class and hide tablet-desktop class */
.mobile {
  display: block;
}

.tablet-desktop {
  display: none;
}

/* Style rules for main content */
main {
  padding: 2%;
  font-size: 1.15em;
  font-family: 'Mate', serif;
}

main article:nth-child(odd) {
  background-color: rgba(56, 40, 20, .3);
  border-radius: 8px 0;
}

article {
  padding: 2%;
}

article h3 {
  text-shadow: 2px 2px 4px #ccc;
  text-align: center;
}

article img {
  margin: 0 auto;
}

article ul {
  margin-left: 10%;
}

p a {
  color: inherit;
}

.rounded {
  border-radius: 8px;
}

.frame300 {
  position: relative;
  max-width: 300px;
  margin: 2% auto;
  border: 1px solid #d4b286;
}

.pic-text {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.map {
  border: 2px solid #d4b286;
  width: 95%;
  height: 50%;
}

/* Style rules for footer content */
footer p {
  font-size: 0.75em;
  text-align: center;
  padding: 0 1em;
}

/* Media query for Tablet Viewport */
@media screen and (min-width: 630px), print {

  /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
  .tablet-desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  /* Tablet Viewport: style rules for header area */
  header {
    padding-bottom: 2%;
  }

  /* Tablet Viewport: style rules for nav area */
  nav li {
    border-top: none;
    display: inline-block;
    border-right: 1px solid #fff;
  }

  nav li:last-child {
    border-right: none;
  }

  nav li a {
    padding: 0.1em 0.75em;
  }

  /* Tablet Viewport: Style rules for main content area */
  main ul {
    margin: 0 0 4% 10%;
  }

  .grid, .grid2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

  .pic-text {
    font-size: 1em;
    padding: 10px;
  }

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {

  p a:hover {
    font-weight: bold;
    border-radius: 4px;
    background: rgba(120, 120, 120, .5);
  }

  .frame300 {
    opacity: .9;
  }

  .frame300:hover {
    opacity: 1;
    box-shadow: 8px 8px 10px #808080;
  }

  .pic-text{
    font-size: 1.5em;
    padding: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
  }

}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {

  header {
    position: 0 auto;
  }

  #container {
    width: 1920px;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
  }

}

/* Media Query for Print */
@media print {

  body {
    background-color: #fff;
    color: #000;
  }
}